.quiz-container1 {
  margin: 100px auto 0;
  display: block;
  width: 40%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--color-darkblue) !important;
  padding: 10px;
  color: var(--color-dark-white);
  box-shadow: var(--shadow-style);
  border-radius: 5px;
}