/* Admin styles */

.quiz-container {
    display: block;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-white);
    margin: 30px auto 30px;
    padding: 10px;
    box-shadow: var(--shadow-style);
    border-radius: 5px;
}

.link-back {
  background-color: var(--color-pink);
  color: var(--color-dark-white);
  font-size: 20px;
  padding: 10px;
  position: relative;
  top: 20px;
  left: 10px;
  border: none;
}

.quiz-inner-container {
    background-color: var(--color-white);
    margin: 20px;
    padding: 10px;
    box-shadow: var(--shadow-style);
}

.quiz-questions {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 1px 15px 1px;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-darkblue);
}

.quiz-questions > textarea {
    height: 60px;
    width: 90%;
    font-size: 20px;
}

.input-button {
    height: 30px;
    background-color: var(--color-pink);
    border: none;
    border-radius: 2px;
    color: var(--color-white);
}

.btn-plus {
  width: 70% !important;
  margin: 0 auto 15px !important;
}

.quiz-variants-div > ul > li > input {
    width: 20em;
    height: 30px;
    font-size: 20px;
}

li {
    list-style-type: none;
    margin: 10px;
}
.quiz-h1 {
  text-align: center;
  color: var(--color-darkblue);
}

.quiz-variants-input {
  width: 16px;
  height: 16px;
  color: var(--color-darkblue);
}

.quiz-variants-label {
  font-size: 20px;
  color: var(--color-darkblue);
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--color-pink);
    color: var(--color-dark-white);
    border-radius: 2px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    margin-bottom: 20px;
}


@media (min-width: 576px) {
    .quiz-container {
      max-width: 550px;
    }
  }
  
  @media (min-width: 768px) {
    .quiz-container {
      max-width: 750px;
    }
  }